[submodule "opencode"]
	path = opencode
	url = https://github.com/alexandru/opencode-config
[submodule "copilot"]
	path = copilot
	url = https://github.com/alexandru/copilot-cli-config
[submodule "pi"]
	path = pi
	url = git@github.com:alexandru/pi-config.git
