[submodule "opencode"]
	path = opencode
	url = https://github.com/alexandru/agents-config.git
[submodule "copilot"]
	path = copilot
	url = https://github.com/alexandru/copilot-config.git
[submodule "codex"]
	path = codex
	url = https://github.com/alexandru/codex-config.git
[submodule "skills"]
	path = skills
	url = https://github.com/alexandru/skills.git
